<div id="hackernews" class="viewWrapper">
  <span class="title">{{title}}</span>
  <span class="subtext">{{url}}</span>

  <div class="flex info">
    <div class="section">
      <span class="title">{{points}}</span>
      <span class="text">Points</span>
    </div>
    <div class="section">
      <span class="title">{{author}}</span>
      <span class="text">Poster</span>
    </div>
    <div class="section">
      <span class="text">{{createdAt}} ago</span>
    </div>
  </div>
</div>