<div id="youtube" class="viewWrapper">

  <span class="title">{{title}}</span>

  <div class="flex info">
  	<div class="section">
	     <div class= "thumbnail"><img src = {{thumb}}> </span>
	  </div>
	   <div class="section">
	     <div class="minitext">{{description}}</span>
	  </div>
  </div>

  <div class="flex info">
    <div class="section">
      <span class="title">{{viewCount}}</span>
      <span class="text">Views</span>
    </div>
    <div class="section">
      <span class="title">{{likeCount}}</span>
      <span class="text">Likes</span>
    </div>
    <div class="section">
      <span class="title">{{commentCount}}</span>
      <span class="text">Comments</span>
    </div>
  </div>

</div>