<div id="youtube" class="viewWrapper">

  <span class="title">{{title}}</span>
  <span class="subtext">{{description}}</span>
  <div class= "thumbnail">
    <img src="{{thumb}}" />
  </div>


  <div class="flex info">
    <div class="section">
      <span class="title">{{viewCount}}</span>
      <span class="text">Views</span>
    </div>
    <div class="section">
      <span class="title">{{likeCount}}</span>
      <span class="text">Likes</span>
    </div>
    <div class="section">
      <span class="title">{{commentCount}}</span>
      <span class="text">Comments</span>
    </div>
  </div>

</div>